*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(235, 233, 233);
}

.container{
    background-color: #fff;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

#head{
    display: flex;
    justify-content: end;
   /* width: 80vw; */
   /* margin-right: 160px; */
}

#input{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box{
    display: flex;
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: end;
  gap: 30px;
  margin-top: 20px;
 color: white;
width: 60vw;
 margin-right: 20px;
 

}
.header{
    background-color: #f85606;
    height: 100%;
    width: 100%;
    
    
    
}
.input{
    display: flex;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 20px;
    gap: 5%;
    margin-top: 10px;
    flex-wrap: wrap;
    

}
.logo{
    height: 40px;
}
.searchbar{
display: flex;
justify-content: end;



}
input{
    
    width: 50vw;
    min-width: 200px;
    max-width: 700px;
    padding-left: 10px;
    gap: 10px;
    border-radius: 5px;
    border: none;
}
.searchlogo{
    height: 20px;
    width: 23px;
}
#login{
    color: white;
    text-decoration: none;
}
#signup{
    color: white;
    text-decoration: none;
}

.slider img{
    
    height: 400px;
    width: 60vw;
  
    object-fit: cover;
     
    
}
.add{
    
   background: linear-gradient(135deg, #ffffff, #eaba9a); /* faint orange gradient */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    height: 380px;
    width: 16vw;   
    margin-bottom: 20px;
}

.top{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.add img{
    height: 49px;
    width: 40px;
}

.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.slide{
    display: inline-block;
    position: relative;
    
}

.btn{
    
    position: absolute;
    top: 40%;
    transform: translateY(50%);
    border:black;
    background-color: #8c7474;
    height: 40px;
    width: 40px;  
 
}

#prev{
  left: 0;
   background-color: rgb(203, 187, 187);
 border-radius: 0 20px 20px 0;
 
}
#next{

   right: 0;
  background-color: rgb(203, 187, 187);
 border-radius: 20px 0 0 20px;

}

.signupform{
    background-color: white;
    height: 40vh;
   min-width: 35vw;
    color: white;
    box-sizing: border-box;
    padding: 20px;
    gap: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid orange;
   
    
}

.signupform input{
    width: 30vw;
    display:block;
    color: rgb(0, 0, 0);
    background-color: white;
    height: 25px;
    padding: 5px;
    border: 2px solid rgb(197, 191, 191);
    padding-left: 9px;
    
    
}

.snup{
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
   
}

.form{
    
}
.submit{
    background-color: #f85606;
    color: white;
    padding: 3px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    
}
.login{
    background-color: #f85606;
    color: white;
    padding: 3px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    
}


.blur{
    filter: blur(5px);
    transition: 0ms;
}

#username{
    color: white;
   
}
a{
    text-decoration: none;
}

.card{
    background-color: white;
    height: 300px;
    width: 220px;
    margin: 20px;
   border-radius: 5px;
 
   
    
    
}
.products{
    margin-left: 100px;
    font-size: 20px;
}
.card img{
    height: 70%;
    width: 100%;
   
}

#price{
    /* margin: 2px; */
    padding: 3px;
    color: red;
    
}
.info{
    padding: 5px;
}

.color{
    background:linear-gradient(180deg, #ee441a, #d676e5);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    /* justify-content: center; */
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
   gap: 15px;
}
#download{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 5px; */
   
}
#delivery{
    display: flex;
    align-items: center;
    gap: 8px;
    
   
}
#time{
       display: flex;
    align-items: center;
    gap: 8px;
}
.app{
    background: linear-gradient(90deg, #f8f5f5, #f9e7fc);
    display: flex;
    gap: 10px;

    padding: 15px;
    height: 100%;
    width: 88%;
    
}
.link{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.link img{
    width: 97px;
    height: 23px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(117, 114, 114);
}
.qr{
   
   
   
}

