*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.container{
    background-color: #fff;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

#head{
    display: flex;
    justify-content: end;
   /* width: 80vw; */
   /* margin-right: 160px; */
}

#input{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box{
    display: flex;
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: end;
  gap: 30px;
  margin-top: 20px;
 color: white;
width: 60vw;
 margin-right: 20px;
 

}
.header{
    background-color: #f85606;
    height: 100%;
    width: 100%;
    
    
    
}
.input{
    display: flex;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 20px;
    gap: 5%;
    margin-top: 10px;
    flex-wrap: wrap;
    

}
.logo{
    height: 40px;
}
.searchbar{
display: flex;
justify-content: end;



}
input{
    
    width: 50vw;
    min-width: 200px;
    max-width: 700px;
    padding-left: 10px;
    gap: 10px;
    border-radius: 5px;
    border: none;
}
.searchlogo{
    height: 20px;
    width: 23px;
}
#login{
    color: white;
    text-decoration: none;
}
#signup{
    color: white;
    text-decoration: none;
}

.slider img{
    
    height: 450px;
    width: 50vw;
  
    object-fit: cover;
     
    
}

.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.slide{
    display: inline-block;
    position: relative;
    
}

.btn{
    
    position: absolute;
    top: 40%;
    transform: translateY(50%);
    border:black;
    background-color: #8c7474;
    height: 40px;
    width: 40px;  
 
}

#prev{
  left: 0;
   background-color: rgb(135, 120, 120);
 border-radius: 0 20px 20px 0;
 
}
#next{

   right: 0;
  background-color: rgb(135, 120, 120);
 border-radius: 20px 0 0 20px;

}

.signupform{
    background-color: white;
    height: 40vh;
   min-width: 35vw;
    color: white;
    box-sizing: border-box;
    padding: 20px;
    gap: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid orange;
   
    
}

.signupform input{
    width: 30vw;
    display:block;
    color: rgb(0, 0, 0);
    background-color: white;
    height: 25px;
    padding: 5px;
    border: 2px solid rgb(197, 191, 191);
    padding-left: 9px;
    
    
}

.snup{
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
   
}

.form{
    
}
.submit{
    background-color: #f85606;
    color: white;
    padding: 3px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    
}
.login{
    background-color: #f85606;
    color: white;
    padding: 3px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    
}


.blur{
    filter: blur(5px);
    transition: 0ms;
}

